<div class="content">
    <h3 class="row">Expériences</h3>

    <div class="row">
        <div class="col s10 offset-s1 m10 offset-m1 l1 date-prefix">
            Jan 2015
        </div>
        <div class="card col s10 offset-s1 m10 offset-m1 l10">
            <div class="card-content header">
                Data Analyst - PwC Montpellier 
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#poste-pwc">Poste</a></li>
                    <li class="tab"><a href="#realisations-pwc">Réalisations</a></li>
                    <li class="tab"><a href="#technologies-pwc">Technologies</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="poste-pwc">
                <p class="description"></p>
                </div>
                <div id="realisations-pwc">
                    <ul>
                        <li>Migration des outils et scripts d'analyse des données comptables de ACL Analytics vers SQL Server</li>
                        <li>Développement d'une plateforme de demande de mission d'audit </li>
                        <li>Développement d'un portail WEB d'automatisation des missions d'analyse d'audit comptable</li>
                        <li>Controle de qualité et conformité des données clients</li>
                        <li>Adaptation et execution des scripts d’extraction et traitement des données</li>
                        <li>Production et analyse de rapports</li>
                    </ul>
                </div>
                <div id="technologies-pwc">
                     <p class="description">
                       ASP.net  -  JQuery  -  SQL Server  -  IIS  -  PHP  -  HTML/CSS  -  Bootstrap  -  ACL Analytics
                     </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col s10 offset-s1 m10 offset-m1 l1 date-prefix">
            Avr 2012
        </div>
        <div class="card col s10 offset-s1 m10 offset-m1 l10">
            <div class="card-content header">
                Développeur Java/J2EE stagiaire - ITK
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#poste-itk">Poste</a></li>
                    <li class="tab"><a href="#realisations-itk">Réalisations</a></li>
                    <li class="tab"><a href="#technologies-itk">Technologies</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="poste-itk">
                   <p class="description">
                      Réalisation d’une interface standalone d’exploration de base de données sur les produits phytosanitaires 
                    </p> 
                </div>
                <div id="realisations-itk">
                    <ul>
                        <li>Développement d’une interface GWT/CSS</li>
                        <li>Réalisation du mapping objet-relationnel</li>
                        <li>Développement de la couche d’accés aux données</li>
                    </ul>
                </div>
                <div id="technologies-itk">
                    <p class="description">Java  -  GWT  -  Hibernate  -  Spring  -  MySQL  -  HTML/CSS  -  Trac</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col s10 offset-s1 m10 offset-m1 l1 date-prefix">
            Jan 2011
        </div>
        <div class="card col s10 offset-s1 m10 offset-m1 l10">
            <div class="card-content header">
                Développeur Java stagiaire - CIRAD
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#poste-cirad2">Poste</a></li>
                    <li class="tab"><a href="#realisations-cirad2">Réalisations</a></li>
                    <li class="tab"><a href="#technologies-cirad2">Technologies</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="poste-cirad2">
                   <p class="description">
                      Réalisation d’une interface standalone permettant la modélisation de plantes au CIRAD
                    </p> 
                </div>
                <div id="realisations-cirad2">
                    <ul>
                        <li>Développement d’une interface composée de trois scènes 2D</li>
                        <li>Développement d’outils permettant de créer la géométrie d’une plante sur les differentes scènes</li>
                        <li>Réalisation des différents formulaires nécessaires à la création d’une plante</li>
                    </ul>
                </div>
                <div id="technologies-cirad2">
                    <p class="description">Java  -  Swing/AWT</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col s10 offset-s1 m10 offset-m1 l1 date-prefix">
            Sept 2010
        </div>
        <div class="card col s10 offset-s1 m10 offset-m1 l10">
            <div class="card-content header">
                Développeur Java stagiaire - CIRAD
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#poste-cirad1">Poste</a></li>
                    <li class="tab"><a href="#realisations-cirad1">Réalisations</a></li>
                    <li class="tab"><a href="#technologies-cirad1">Technologies</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="poste-cirad1">
                   <p class="description">
                      Réalisation d’une librairie Java sur la biomécanique des plantes au CIRAD
                    </p> 
                </div>
                <div id="realisations-cirad1">
                    <ul>
                        <li>Réalisation du modèle de données</li>
                        <li>Developpement du moteur physique calculant la géométrie d’une plante après application d'une ou plusieurs forces</li>
                        <li>Interfaçage de la librairie avec le logiciel Xplo developpé au CIRAD</li>
                    </ul>
                </div>
                <div id="technologies-cirad1">
                    <p class="description">Java  -  Swing/AWT</p>
                </div>
            </div>
        </div>
    </div>
</div>
