.header {
    color: #6F9CFF;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}

.date-prefix {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    margin-top: 35px;
}

.card-content {
    margin-bottom: 5px;
    padding-bottom: 0px;
}

p.description {
    padding-bottom: 10px;
}

.tabs a {
    color: #6F9CFF;
}

.tab a.active {
    color: #ee6e73;
}
