<div class="navbar-fixed">
    <nav class="red darken-2">
        <div class="nav-wrapper">
            <ul class="left hide-on-down">
                <li><a href="#">Accueil </a></li>
                <li><a href="#">Comp&eacute;tences </a></li>
                <li><a href="experiences">Exp&eacute;riences </a></li>
                <li><a href="/diplomes">Dipl&ocirc;mes </a></li>
                <li><a href="#">Portfolio </a></li>
                <li><a href="/contact">Contact </a></li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<footer class="page-footer red darken-2">
    <div class="container">
        <div class="row right-align">
            <a class="github-button" href="https://github.com/BenjaminTrain" data-size="large" data-show-count="true" aria-label="Follow @BenjaminTrain on GitHub">Follow @BenjaminTrain</a>
        </div>
    </div>
</footer>



