body {
    
}

.content {
    margin-bottom: 100px;
}

/**************** Titre ******************/
h3 {
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 95%;
    font-style: italic;
    padding: 2% 0%;
    font-size: 25px;
    margin-top: 3%;
    color: #d32f2f;
}

/********** Message d'erreur ************/
label::after {
    font-weight: bold;
}

/*************** Grille *****************/
.row {
    margin-bottom: 35px;
}

/*************** Footer *****************/
.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 1000;
}

/*************** Liste *****************/
li {
    height: 50px;
}


/*************** Icone *****************/
.material-icons {
    vertical-align: text-bottom;
    color: #d32f2f;
}