<div class="content">
    <h3 class="row">Diplômes</h3>

    <div class="row">
        <div class="card col s10 offset-s1">
            <div class="card-content">
                <div class="col s2 date-bullet">
                    Sept - 2012 
                </div>
                <div class="col s7">
                    <div class="row diplome">
                        Master informatique - IFPRU (Informatique à finalité professionnelle et recherche unifiée )
                    </div>
                </div>
                <div class="col s7 offset-s2">
                    <div class="row ecole">
                        Université Montpellier 2
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col s10 offset-s1">
            <div class="card-content">
                <div class="col s2 date-bullet">
                    Juin - 2010
                </div>
                <div class="col s7">
                    <div class="row diplome">
                        License informatique
                    </div>
                </div>
                <div class="col s7 offset-s2">
                    <div class="row ecole">
                        Université Montpellier 2
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col s10 offset-s1">
            <div class="card-content">
                <div class="col s2 date-bullet">
                    Juin - 2005
                </div>
                <div class="col s7">
                    <div class="row diplome">
                        Baccalauréat Scientifique
                    </div>
                </div>
                <div class="col s7 offset-s2">
                    <div class="row ecole">
                        Lycée Montaury - Nîmes
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
